*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.content{
    padding: 10px;
    min-width: 300px;
}

.button_cont button:hover{
    box-shadow: 1px 0px 10p #eee;
} 

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap:6rem; */
}

.image > h4{
    font-size: 18px;
    color: #120B48;
    font-weight: 700;
}

.image{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* flex-direction: column; */
}

.settings{
    display: flex;
    align-items: center;
    gap: 8px;
}

h6{
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
}

.flex2{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-around;
}

span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image{
    width: 40%;
}

.camera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border: 1px solid #100A42;
    border-radius: 12px;
    padding: 12px 12px 12px 16px;
}

.audio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border: 1px solid #100A42;
    border-radius: 12px;
    padding: 12px 12px 12px 16px;
}

.left{
    display: flex;
    align-items: center;
    gap:8px;
}

.button_cont button{
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: #120B48;
    color: white;
    width: 100%;
    cursor: pointer;
}

.button_cont{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

p{
    color: #100A42;
    font-size: 16px;
}